# Operator in python


* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

### 1. Arithmetic operators

In [1]:
# Arithmetic operater

x=7
y=3

sum=x+y
print("sum : ",sum)

sub=x-y
print("sub : ",sub)

multi=x*y
print("multi : ",multi)

divi=x/y
print("divison : ",divi)

mod=x%y
print("mod : ",mod)

power=x**y
print("power : ",power)

int_divi = x//y
print("divi in int : ",int_divi)

sum :  10
sub :  4
multi :  21
divison :  2.3333333333333335
mod :  1
power :  343
divi in int :  2

### 2. Assignmemt operator

In [2]:
x = 4
print(x)

4

### 3. Comparison operators

In [3]:
#Comparison operater

print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

### 4. Logical operators

In [4]:
# logical operater
print(x<10 and y>10)
print(x<10 or y>10)
print(not y>10)

False
True
True

### 5. Identity operators

In [6]:
x = ["name", "age"]
y = ["name", "age"]
print(x is y)
print(x is not y)

False
True

### 6. Membership operators

In [7]:
x = [34, 54, 23, 93, 10]
print(54 in x)
print(54 not in x)

True
False

### 7. Bitwise operators

In [9]:
#Bitwise operater
a=7
b=12

# AND
print(a&b)

# OR
print(a|b)

# XOR
print(a^b)

# NOT
print(~a)

# left shift
print(a << 1)

# right shift
print(b >> 1)

4
15
11
-8
14
6