# List in python

In [1]:
# List ===> 
# (1). This is a container in which we can store elements . 
# (2). Mutable data type ===> we can change or update our values at a run time . 
# (3). Indexing start from 0 and length start from 1 . 
# (4). Identification = []

In [2]:
a = ['sam' , 67 , 'Raj' , 89.33]
type(a)

list

In [3]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
67
Raj
89.33

#### Slicing in list

In [4]:
a = ['sam' , 67 , 'Raj' , 89.33]
print(a[1:3])
print(a[1:])
print(a[:-1])
print(a[:])

[67, 'Raj']
[67, 'Raj', 89.33]
['sam', 67, 'Raj']
['sam', 67, 'Raj', 89.33]

#### Loop in list

In [5]:
# method - 1 
a = ['sam' , 67 , 'Raj' , 89.33]
for i in range(len(a)):
    print(a[i])

sam
67
Raj
89.33

In [6]:
# method - 2 
a = ['sam' , 67 , 'Raj' , 89.33]
for i in range(len(a)):
    print(a[i] , end = ", ")

sam, 67, Raj, 89.33,

In [7]:
# method - 3
a = ['sam' , 67 , 'Raj' , 89.33]
for i in a:
    print(i)

sam
67
Raj
89.33

## Method of list

In [8]:
# update item using index
a = ['sam' , 67 , 'Raj' , 89.33]
print(a)
a[1] = 50
print(a)

['sam', 67, 'Raj', 89.33]
['sam', 50, 'Raj', 89.33]

In [9]:
a = ['sam' , 67 , 'Raj' , 89.33]
a.index(67)  ### it will return indexing of item

1

In [10]:
a.append('Raju') ### it will add element in last indexing of list
a

['sam', 67, 'Raj', 89.33, 'Raju']

In [11]:
a.insert(1 , "Preeti") ### it will add element according to our index value
a

['sam', 'Preeti', 67, 'Raj', 89.33, 'Raju']

In [12]:
a.remove('Preeti')  ## it will remove object in the list . 
a

['sam', 67, 'Raj', 89.33, 'Raju']

In [13]:
a.pop()  ## it will remove last index element . 
a

['sam', 67, 'Raj', 89.33]

In [14]:
a_copy = a.copy()
print(a_copy)

['sam', 67, 'Raj', 89.33]

In [15]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
mylist = [34,45,23,45,23,57]
mylist.sort()
print(mylist)

[23, 23, 34, 45, 45, 57]

In [17]:
mylist = [34,45,23,45,23,57]
mylist.sort(reverse = True)
print(mylist)

[57, 45, 45, 34, 23, 23]

In [18]:
mylist.clear()
print(mylist)

[]

In [19]:
a = [1,2,3,4]
max(a) ## it will return maximum number in a list

4

In [20]:
min(a)  ## it will return minimum number in a list .

1

In [21]:
a = [1,2,1,1,1,1,1,1,4,5]
a.count(1)  ## it will check frequency of element .

7

# How can we create a user defined List ?

In [22]:
a= []
size = int(input("Enter size:"))
for i in range(size):
    val = input("Enter item:")
    a.append(val) 
print(a)

Enter size: 4
Enter item: name
Enter item: age
Enter item: course
Enter item: gender

['name', 'age', 'course', 'gender']

In [23]:
a= []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val) 
print(a)

Enter size: 4
Enter item: 34
Enter item: 5
Enter item: 33
Enter item: 53

[34, 5, 33, 53]

In [24]:
# Q.1 
a = [34,1,78,45,900,3]
max = a[0] 
for i in range(len(a)):
    if(a[i]>max):
        max = a[i]
print(max)

900

In [25]:
a= []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val) 
print(a) 
max = a[0] 
for i in range(len(a)):
    if(a[i]>max):
        max = a[i]
print(max)

Enter size: 4
Enter item: 4
Enter item: 64
Enter item: 23
Enter item: 56

[4, 64, 23, 56]
64