# Exercise: Python Lists

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May -
 2190
Create a list to store these monthly expenses and using tnd out-
hat fi
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly e pense list
based on thisnd out,

In [1]:
month_list = ["January", "February", "March", "April", "May"]
expense = [2200,2350, 2600, 2130, 2190]

In [2]:
extra_amount = expense[1]-expense[0]
print(f"In February, You spend {extra_amount} ₹ extra compare to january")

In February, You spend 150 ₹ extra compare to january

In [3]:
first_quarter = expense[0] + expense[1] + expense[2]
print(f"total expence in first quarter : {first_quarter}")

total expence in first quarter : 7150

In [4]:
for i in range(len(expense)):
    if expense[i]==2000:
        print(f"you have expend exactly 2000 in {month_list[i]}")
        break
    else:
        print(f"you have not expend exactly 2000 in any.")
        break

you have not expend exactly 2000 in any.

In [5]:
month_list.append("june")
expense.append(1980)
print(month_list)
print(expense)

['January', 'February', 'March', 'April', 'May', 'june']
[2200, 2350, 2600, 2130, 2190, 1980]

In [6]:
change_expense = expense[3] - 200
expense[3] = change_expense
print(expense)

[2200, 2350, 2600, 1930, 2190, 1980]

2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america'
]
Using this find o-,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions availabe in list)

In [7]:
heros=['spider man','thor','hulk','iron man','captain america']

In [8]:
print(len(heros))

5

In [9]:
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [10]:
heros.remove("black panther")
heros.insert(3,"black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [11]:
heros[1:3] = ["docter strange"]
print(heros)

['spider man', 'docter strange', 'black panther', 'iron man', 'captain america']

In [12]:
heros.sort()
print(heros)

['black panther', 'captain america', 'docter strange', 'iron man', 'spider man']