# Set in python

In [1]:
# Sets are used to store multiple items in a single variable.
# A set is a collection which is unordered, unchangeable, and unindexed.

In [5]:
myset = {4,5,2,8,6,4,9,2}
print(myset)
print(type(myset))
# note : myset have unique value, duplicate value are remove and unordered data

{2, 4, 5, 6, 8, 9}
<class 'set'>

In [4]:
# length method

print(len(myset))

6

### Access the element

In [6]:
# using loop

for i in myset:
    print(i)

2
4
5
6
8
9

### Add item

In [12]:
# using add method

myset = {11,45,56,35,65,69}
myset.add(35)
print(myset)

{65, 35, 69, 56, 11, 45}

In [14]:
# using update method

set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Remove item

In [16]:
# using remove method

myset = {"khemraj", "aaditya", "deepak","ravi"}

myset.remove("deepak")

print(myset)

{'ravi', 'aaditya', 'khemraj'}

In [17]:
# using discard method

myset = {"khemraj", "aaditya", "deepak","ravi"}

myset.discard("deepak")

print(myset)

{'ravi', 'aaditya', 'khemraj'}

In [19]:
# using pop method

myset = {"khemraj", "aaditya", "deepak","ravi"}

item = myset.pop()
print(item)

print(myset)

ravi
{'aaditya', 'khemraj', 'deepak'}

In [21]:
# clear method : empty the set

myset = {"khemraj", "aaditya", "deepak","ravi"}

myset.clear()

print(myset)

set()

In [24]:
# del method : del the set

myset = {"khemraj", "aaditya", "deepak","ravi"}

del myset

print(myset)

NameError: name 'myset' is not defined

### Join in Set

##### union method : joins all items from both sets

In [37]:
# method - 1
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

set3 = set1.union(set2)

print(set3)

# union and update method are same

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
# method - 2

set3 = set1 | set2
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
# method - 3 : Multiple sets combine

set1 = {1,2,3}
set2 = {4,5,6}
set2 = {7,8,9}
set4 = {10,11,12}

myset = set1.union(set2,set3,set4)

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [34]:
# method - 4 : Multiple sets combine

set1 = {1,2,3}
set2 = {4,5,6}
set2 = {7,8,9}
set4 = {10,11,12}

myset = set1 | set2 | set3 | set4

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

##### Intersection method : Keep ONLY the duplicates

In [38]:
# method - 1
set1 = {1,2,3,4,5}
set2 = {6,8,3,5,10}

set3 = set1.intersection(set2)

print(set3)

{3, 5}

In [40]:
# method - 2
set1 = {1,2,3,4,5}
set2 = {2,5,3,9,10}

set3 = set1 & set2

print(set3)

{2, 3, 5}

In [41]:
# intersection_update also same but it change origianl set

# method - 3
set1 = {1,2,3,4,5}
set2 = {4,3,5,9,10}

set1.intersection_update(set2)

print(set1)

{3, 4, 5}

##### Difference() method : that will contain only the items from the first set that are not present in the other set.

In [42]:
# method - 1
set1 = {1,2,3,4,5}
set2 = {6,7,8,4,3,10}

set3 = set1.difference(set2)

print(set3)

{1, 2, 5}

In [47]:
# method - 2
set1 = {1,2,3,4,5}
set2 = {6,7,8,4,3,10}

set3 = set1 - set2

print(set3)

{1, 2, 5}

In [48]:
# method - 3
set1 = {1,2,3,4,5}
set2 = {6,7,8,4,3,10}

set1.difference_update(set2)

print(set1)

{1, 2, 5}

##### symmetric_difference : only keep not comman items

In [49]:
# method - 1
set1 = {1,2,3,4,5}
set2 = {6,7,8,4,3,10}

set3 = set1.symmetric_difference(set2)

print(set3)

{1, 2, 5, 6, 7, 8, 10}

In [50]:
# method - 1
set1 = {1,2,3,4,5}
set2 = {6,7,8,4,3,10}

set3 = set1 ^ set2

print(set3)

{1, 2, 5, 6, 7, 8, 10}

In [51]:
# method - 1
set1 = {1,2,3,4,5}
set2 = {6,7,8,4,3,10}

set1.symmetric_difference_update(set2)

print(set1)

{1, 2, 5, 6, 7, 8, 10}